.heart {
    position: relative;
    width: 100px;
    height: 90px;
    margin-top: 10px;
    //opacity: 0.5;
    opacity: var(--tw-bg-opacity);

    &::before, &::after {
        content: "";
        position: absolute;
        top: 0;
        width: 52px;
        height: 80px;
        border-radius: 50px 50px 0 0;
        background: rgba(241, 78, 149);
    }

    &::before {
        left: 50px;
        transform: rotate(-45deg);
        transform-origin: 0 100%;
    }

    &::after {
        left: 0;
        transform: rotate(45deg);
        transform-origin: 100% 100%;
    }
}