::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(rgb(208, 1, 89), rgba(241, 78, 149));
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(rgba(241, 78, 149), rgb(208, 1, 89));
}

* {
  scroll-behavior: smooth;
}

@for $i from 5 through 30 {
  .animate__delay-#{$i}s {
    animation-delay: #{$i}s;
  }
}
