@use "sass:math";

$endIndex12: 12;
$endIndex10: 10;
$endIndex20: 20;
$startIndex: 1;

@for $i from $startIndex through $endIndex12 {
  $percent: math.div($i, $endIndex12) * 100%;
  .top-#{$i}-#{$endIndex12} {
    top: #{$percent};
  }
  .bottom-#{$i}-#{$endIndex12} {
    bottom: #{$percent};
  }
  .left-#{$i}-#{$endIndex12} {
    left: #{$percent};
  }
  .right-#{$i}-#{$endIndex12} {
    right: #{$percent};
  }
}

@for $i from $startIndex through $endIndex10 {
  $percent: math.div($i, $endIndex10) * 100%;
  .top-#{$i}-#{$endIndex10} {
    top: #{$percent};
  }
  .bottom-#{$i}-#{$endIndex10} {
    bottom: #{$percent};
  }
  .left-#{$i}-#{$endIndex10} {
    left: #{$percent};
  }
  .right-#{$i}-#{$endIndex10} {
    right: #{$percent};
  }
}

@for $i from $startIndex through $endIndex20 {
  $percent: math.div($i, $endIndex20) * 100%;
  .top-#{$i}-#{$endIndex20} {
    top: #{$percent};
  }
  .bottom-#{$i}-#{$endIndex20} {
    bottom: #{$percent};
  }
  .left-#{$i}-#{$endIndex20} {
    left: #{$percent};
  }
  .right-#{$i}-#{$endIndex20} {
    right: #{$percent};
  }
}
